/* ========== FOOTER CONTENT ============= */
.footer {
    ul{
        list-style: none;
        li {
            margin-top: 10px;
            a {
                text-decoration: none;
            }
        }
    }

    .site-map {
        text-align: center;
        
        ul{
            list-style: none;
            align-items: center!important;
            li{
                a {
                    text-decoration: none!important;
                    color: whitesmoke!important;
                }
                a:hover {
                    color: #EC902E!important;
                }
            }
        }
    }

    .social-media {
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        li {
            float: left;
            padding: 8px;
            img {
                width: 25px;
            }
            a:hover {
                border-radius: 100px!important;
                background: #EC902E;
                
            }
        }
    }
}