/* ================ GALLERY PAGE STYLING ============= */
.header {
  padding: 35px;
  height: 50px;
  position: relative;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .1em;
}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 1em;
}

.content h2 {
  margin: .2em .5em;
  font-size: 1em;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .grid-col--2 {
    display: block;
  }
  .grid-col {
    padding: 0 .5em;
  }
  img {
    margin-bottom: .8em;
  }
  .content {
    opacity: 0;
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
    -webkit-transition: all 2s;
    transition: all 2s;
    will-change: opacity, tranform;
  }
  .grid-item:hover {
    cursor: pointer;
  }
  .grid-item:hover .content {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }
  .container {
    width: 90%;
  }
}

/* =================== NAV CONTENT ================ */
.fixed-top {
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19) !important;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19) !important;
}

.active {
  background-color: #EC902E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white !important;
}

.nav-item:hover {
  background-color: #EC902E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white !important;
}

/* =================== CUSTOM COLORS ================ */
.bg-custom1 {
  background-color: #EC902E;
  border-radius: 1rem;
}

.btn-custom {
  background-color: #EC902E;
}

.btn-custom:hover {
  background-color: #cf904d;
  color: white;
}

/* =================== CAROUSEL CONTENT ================ */
#carousel {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.carousel-inner {
  max-height: 38rem !important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
}

.carousel-caption {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1rem;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem black;
}

.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

/* ========== ABOUT CHOIR SECTION ============= */
.about-section {
  margin: 50px auto;
}

.about-section .about-img {
  margin: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #EC902E;
  padding: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about-section .row .col-md-8 .about-content {
  margin: auto;
  width: 100%;
  padding: 10px;
}

/* ========== WORKS SECTION ============= */
.works-section {
  margin: 50px auto;
}

.works-section .row .col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.works-section .row .col-md-3 .work-img {
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.works-section .row .col-md-3 .work-img img {
  margin-bottom: 0 !important;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}

.works-section .row .col-md-3 .work-caption {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ==========   TRENDING POSTS SECTION ============= */
.trending {
  margin: 50px auto;
}

.trending .row .col-md-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.trending .row .col-md-2 .img {
  translate: transform(-50%, -50%);
  display: block;
  fill: #EC902E !important;
}

.trending .row .col-md-2 .img .overlay {
  position: absolute;
  height: inherit !important;
  width: inherit !important;
  border-radius: 5px !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.4) !important;
}

.trending .row .col-md-2 .img .overlay .content {
  position: absolute;
  top: 25%;
  left: 40%;
  opacity: 1;
  translate: transform(-50%, -50%);
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.trending .row .col-md-2 .img:hover .overlay {
  opacity: 1;
}

/* ========== FOOTER CONTENT ============= */
.footer ul {
  list-style: none;
}

.footer ul li {
  margin-top: 10px;
}

.footer ul li a {
  text-decoration: none;
}

.footer .site-map {
  text-align: center;
}

.footer .site-map ul {
  list-style: none;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.footer .site-map ul li a {
  text-decoration: none !important;
  color: whitesmoke !important;
}

.footer .site-map ul li a:hover {
  color: #EC902E !important;
}

.footer .social-media {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.footer .social-media li {
  float: left;
  padding: 8px;
}

.footer .social-media li img {
  width: 25px;
}

.footer .social-media li:hover {
  background-color: #EC902E;
}
/*# sourceMappingURL=custom.css.map */