/* ================ GALLERY PAGE STYLING ============= */
.header {
  padding: 35px;
  height: 50px;
  position: relative;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .1em;
}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 1em;
}

.content h2 {
  margin: .2em .5em;
  font-size: 1em;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .grid-col--2 {
    display: block;
  }
  .grid-col {
    padding: 0 .5em;
  }
  img {
    margin-bottom: .8em;
  }
  .content {
    opacity: 0;
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
    -webkit-transition: all 2s;
    transition: all 2s;
    will-change: opacity, tranform;
  }
  .grid-item:hover {
    cursor: pointer;
  }
  .grid-item:hover .content {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }
  .container {
    width: 90%;
  }
}

/* =================== NAV CONTENT ================ */
.active {
  background-color: #EC902E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white !important;
}

.nav-item:hover {
  background-color: #EC902E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white !important;
}

/* =================== CAROUSEL CONTENT ================ */
#carousel {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.carousel-inner {
  max-height: 38rem !important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
}

.carousel-caption {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1rem;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem black;
}

.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

/* ========== FOOTER CONTENT ============= */
.footer ul {
  list-style: none;
}

.footer ul li {
  margin-top: 10px;
}

.footer ul li a {
  text-decoration: none;
}

.footer .site-map {
  text-align: center;
}

.footer .site-map ul {
  list-style: none;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.footer .site-map ul li a {
  text-decoration: none !important;
  color: whitesmoke !important;
}

.footer .site-map ul li a:hover {
  color: #EC902E !important;
}

.footer .social-media {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.footer .social-media li {
  float: left;
  padding: 8px;
}

.footer .social-media li img {
  width: 25px;
}

.footer .social-media li:hover {
  background-color: #EC902E;
}
/*# sourceMappingURL=custom.css.map */