/* Custom colors */
// $yellow:#EC902E;
// $black:#000000;
// $grey:#cccccc;

// $primary-color: #EC902E;
// $secondary-color: #f3ae63;

// $border:#EBEBEB;

//colors
$color:(
    primary:  #EC902E,
    secondary: #f3ae63,
    bg: #ddd,
    );

//font-imports
@font-face {
    font-family: 'poppins-regular';
    src: url('../../fonts/poppins/Poppins-Regular.ttf') format('truetype');
};
@font-face {
    font-family: 'poppins-light';
    src: url('../../fonts/poppins/Poppins-Light.ttf') format('truetype');
};
@font-face {
    font-family: 'poppins-bold';
    src: url('../../fonts/poppins/Poppins-Bold.ttf') format('truetype');
};
@font-face {
    font-family: 'poppins-semi-bold';
    src: url('../../fonts/poppins/Poppins-Medium.ttf') format('truetype');
};

@font-face {
    font-family: 'poppins-extra-bold';
    src: url('../../fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
};

//font-family
$font__family: (
	base:'poppins-regular', // font-family(base)
	light:'poppins-light', // font-family(light)
	bold:'poppins-bold', // font-family(bold)
	semi_bold:'poppins-semi-bold', // font-family(semi_bold)
	extra_bold:'poppins-semi-bold', // font-family(extra_bold)
);