.about-intro {
    width: 100%;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .head {
        text-align: center;
    }
    .nav-pills-custom .nav-link {
        color: #aaa;
        background: #fff;
        position: relative;
    }
    
    .nav-pills-custom .nav-link.active {
        color: color(primary);
        background: #fff;
    }

    .tab-content {
        h4 {
            color: black;
        }

        p {
            font-size: 16px;
            justify-content: center;
        }
    }

    ul.work-list {
        list-style: none;
        padding-left: 1.5rem;

        li {
            padding: .3rem 0;
            color: #ccc;
        }
        li:last-child {
            padding-bottom: 0;
        }
    }

    .show {
        width: 100%!important;
    }
    
    
    /* Add indicator arrow for the active tab */
    @media (min-width: 992px) {
        .nav-pills-custom .nav-link::before {
            content: '';
            display: block;
            border-top: 8px solid transparent;
            border-left: 10px solid #fff;
            border-bottom: 8px solid transparent;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            opacity: 0;
        }
    }
    
    .nav-pills-custom .nav-link.active::before {
        opacity: 1;
    }
}