.header{
    background: white;
    .navbar{
        .navbar-brand{
            img{
                width: 50px;
                object-fit: cover;
                object-position: center;
            }
        }
        .navbar-collapse{
            flex-grow: 0;
            ul{
                li{
                    margin-left: 3rem;
                    a{
                        font-size: 1rem;
                        font-weight: 400;
                        color: black;
                    }
                    a:hover{
                        color: color(primary);

                    }
                }
                .auth-btn{
                    width: fit-content;
                    border: 1px solid color(primary);
                    border-radius: 8px;
                    padding:0.3rem 1.5rem;
                }
                .auth-btn:hover{
                    background-color: color(primary);
                    color: white;
                }
            }
        }
    }
}

@include media('<phone'){
    .navbar-toggler {
        border: none;
        .navbar-toggler-icon {
            background-image: url('/icons/menu.png');
        }
    }
    .navbar-toggler:focus{
        outline: 0px;
        box-shadow: none;
    }

    .navbar-collapse {
        ul {
            li{
                text-align: start;
                margin-left: 0!important;
            }
            .auth-btn{
                width: 100%!important;
                border: none!important;
                border-radius: 0!important;
                padding: 0.3rem 0!important;
            }
            .auth-btn:hover{
                background-color: color(primary);
                color: white;
            }
        }
    }
}